ul {
    text-decoration: none;
    list-style-type: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.App{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.todo {
    display: flex;
    max-width: 520px;
    text-align: center;
    margin-top: 12px;
    max-height:520px;
    overflow: auto;
    scroll-behavior: smooth;
    flex-direction: column;
}
.done {
    float: left;
    margin-top: 12px;
    max-width: 520px;
    max-height:520px;
    overflow: auto;
    scroll-behavior: smooth;
    text-align: center;
    flex-direction: column;
}